@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,500&family=Maven+Pro:wght@500&family=Phudu:wght@500&family=Poppins&family=Rubik:ital,wght@1,500&display=swap');

body{
 
  background: #0f0c29; 
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
  font-family: 'Rubik', sans-serif; 
 
}
.img{
  height: 200px;
  width: 200px;
}





