@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,500&family=Maven+Pro:wght@500&family=Phudu:wght@500&family=Poppins&family=Rubik:ital,wght@1,500&display=swap');
body{
    margin: 0px;
    /* padding: 0px; */
    margin-left: 10px;
}
h4{
    color: rgb(245, 245, 245);
    font-family:"Poppins";
    /* font-weight: bold; */
    margin-left: 10px;
}
p{
    color: rgb(94, 168, 91);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold; 
}
.bt{
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    /* border: 3px solid rgb(49, 50, 53); */
    font-weight: bold;
    width: 60%;
    background-color: darkgray;
    /* position: relative; */
    /* left: 75%; */

}
.Main{
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;   
    margin: 0px;
    padding: 0px;
   
}
.LeftSide{
    display: flex;
    flex-direction: column;
    /* background-color: #ddd; */
}
.LeftSideInner{
    flex: 1;
}
.Members{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.client{
display: flex;
align-items: center;
flex-direction: column; 
color: white;
font-size: 12px;
flex-wrap: wrap;
word-break: break-all;
width: 70px;
}
span{
    margin-top: 5px;
    word-break:break-all;
}
.leave{
    background-color: rgb(184, 236, 234);
    font-size: 15;
    margin: auto;
    margin-top: 10px;
    margin-bottom:5px;
}
.copy{
    cursor: pointer;
    border-bottom: none;
    margin-left: 80%;
    font-size: 30px;
    /* color: red; */
    /* background-color: aqua; */
}

.CodeMirror{
    /* min-height: calc(100vh - 20px); */
    min-height: 100vh;
    font-size: 20px;
    /* line-height: 1.6px; */
    /* padding-top: 20px;/ */
}
